<% if logged_in? %>
<div>
    <div class="text-center h1"><%= @user.name%></div>
    <div>
        <div class="h2">参加予定のイベント</div>
        <% @user.jevent_events.each do |event| %>
        <div><%= event.title %></div>
        <% end %>
    </div>
    <div>
        <div class="h2">参加サークル</div>
        <% @user.jcircle_circles.each do |circle| %>
        <div><%= circle.name %></div>
        <% end %>
    </div>
</div>

<% end %>
