<div class="h1">サークル</div>
<div class="text-center h2"> 
<% @circles.each do |circle|%>
<div>
  <div class="d mb">
        <div><%= image_tag 'no_mage.jpeg' , class: "image"%></div>
        <div>
            <%= link_to circle.name, circle_path(circle) %>
        </div>
      
    </div>
</div>
<% end %>
</div>
